<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="schunk_sdh_transmission" params="name">

		<transmission name="${name}_knuckle_trans">
		<type>transmission_interface/SimpleTransmission</type>
		<actuator name="${name}_knuckle_motor">
			<hardwareInterface>EffortJointInterface</hardwareInterface>
	        	<mechanicalReduction>1</mechanicalReduction>
	      	</actuator>
			<joint name="${name}_finger_21_joint"/>
			
		</transmission>

		<transmission name="${name}_knuckle_trans">
		<type>transmission_interface/SimpleTransmission</type>
			<actuator name="${name}_knuckle_motor">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
	        	<mechanicalReduction>1</mechanicalReduction>
	      	</actuator>
			<joint name="${name}_knuckle_joint"/>
			
		</transmission>

		<!-- finger1 -->
		<transmission name="${name}_finger_12_trans">
		<type>transmission_interface/SimpleTransmission</type>
			<actuator name="${name}_finger_12_motor">
			<hardwareInterface>EffortJointInterface</hardwareInterface>
	        	<mechanicalReduction>1</mechanicalReduction>
	      	</actuator>
			<joint name="${name}_finger_12_joint"/>
			
		</transmission>
	
		<transmission name="${name}_finger_13_trans">
		<type>transmission_interface/SimpleTransmission</type>
			<actuator name="${name}_finger_13_motor">
			<hardwareInterface>EffortJointInterface</hardwareInterface>
	        	<mechanicalReduction>1</mechanicalReduction>
	      	</actuator>
			<joint name="${name}_finger_13_joint"/>
			
		</transmission>
	
		<!-- finger2 -->
		<transmission name="${name}_finger_22_trans">
		<type>transmission_interface/SimpleTransmission</type>
			<actuator name="${name}_finger_22_motor">
			<hardwareInterface>EffortJointInterface</hardwareInterface>
	        	<mechanicalReduction>1</mechanicalReduction>
	      	</actuator>
			<joint name="${name}_finger_22_joint"/>
		</transmission>
	
		<transmission name="${name}_finger_23_trans">
		<type>transmission_interface/SimpleTransmission</type>
			<actuator name="${name}_finger_23_motor">
			<hardwareInterface>EffortJointInterface</hardwareInterface>
	        	<mechanicalReduction>1</mechanicalReduction>
	      	</actuator>
			<joint name="${name}_finger_23_joint"/>
		</transmission>
	
		<!-- thumb -->
		<transmission name="${name}_thumb_2_trans">
		<type>transmission_interface/SimpleTransmission</type>
			<actuator name="${name}_thumb_2_motor">
			<hardwareInterface>EffortJointInterface</hardwareInterface>
	        	<mechanicalReduction>1</mechanicalReduction>
	      	</actuator>
			<joint name="${name}_thumb_2_joint"/>
		</transmission>
	
		<transmission name="${name}_thumb_3_trans">
		<type>transmission_interface/SimpleTransmission</type>
			<actuator name="${name}_thumb_3_motor">
			<hardwareInterface>EffortJointInterface</hardwareInterface>
	        	<mechanicalReduction>1</mechanicalReduction>
	      	</actuator>
			<joint name="${name}_thumb_3_joint"/>
			
		</transmission>

	</xacro:macro>

</robot>
