<?xml version="1.0"?>
<launch>

	<!-- send parameters to parameter server -->
	<rosparam command="load" ns="sdh_controller" file="$(find schunk_sdh)/ros/launch/$(env ROBOT).yaml"/>

	<!-- start sdh node -->
	<node pkg="schunk_sdh" type="schunk_sdh" name="sdh_node" ns="sdh_controller" cwd="node" respawn="true" output="screen" />

	<!-- rostest integration -->
	<include file="$(find schunk_sdh)/ros/launch/sdh.test" />

</launch>
