<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="schunk_pg70_transmission" params="name">

    <!-- finger1 -->
    <transmission name="${name}_pan_rotation">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_pan_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <hardwareInterface>VelocityJointInterface</hardwareInterface>
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${name}_pan_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <!-- finger2 - mimic -->
    <transmission name="${name}_tilt_rotation">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_tilt_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <hardwareInterface>VelocityJointInterface</hardwareInterface>
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${name}_tilt_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>
