<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find schunk_description)/urdf/lwa4d/lwa4d_without_base.urdf.xacro"/>
    
  <xacro:macro name="schunk_lwa4d" params="parent name *origin arm_1_ref arm_2_ref arm_3_ref arm_4_ref arm_5_ref arm_6_ref arm_7_ref">

    <!-- joint between base_link and arm_base_link -->
    <joint name="${name}_base_joint" type="fixed">
      <insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_base_link"/>
    </joint>

     <link name="${name}_base_link">
      <xacro:default_inertial/>
<!--
      <xacro:cylinder_inertial radius="0.045" length="0.03" mass="3.6">
        <origin xyz="0 0 0.015" rpy="0 0 0"/>
       </xacro:cylinder_inertial>
-->
       <visual>
        <origin xyz="0 0 0.015" rpy="0 0 0"/>
         <geometry>
          <cylinder radius="0.045" length="0.03"/>
         </geometry>
         <material name="Schunk/Black"/>
       </visual>
       <collision>
        <origin xyz="0 0 0.015" rpy="0 0 0"/>
         <geometry>
          <cylinder radius="0.045" length="0.03"/>
         </geometry>
       </collision>
    </link>

  <xacro:schunk_lwa4d_without_base name="arm" parent="${name}_base_link"
          arm_1_ref="${arm_1_ref}"
          arm_2_ref="${arm_2_ref}"
          arm_3_ref="${arm_3_ref}"
          arm_4_ref="${arm_4_ref}"
          arm_5_ref="${arm_5_ref}"
          arm_6_ref="${arm_6_ref}"
          arm_7_ref="${arm_7_ref}">
    <origin xyz="0 0 0.15" rpy="0 -${M_PI} 0" />
  </xacro:schunk_lwa4d_without_base>

  </xacro:macro>

</robot>
