<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="schunk_lwa_extended_gazebo" params="name">

    <gazebo reference="${name}_0_link">
      <material value="Schunk/DarkGolden" />
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="${name}_1_link">
      <material value="Schunk/DarkGolden" />
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="${name}_2_link">
      <material value="Schunk/DarkGolden" />
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="${name}_3_link">
      <material value="Schunk/DarkGolden" />
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="${name}_4_link">
      <material value="Schunk/DarkGolden" />
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="${name}_5_link">
      <material value="Schunk/DarkGolden" />
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="${name}_6_link">
      <material value="Schunk/DarkGolden" />
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="${name}_7_link">
      <material value="Schunk/DarkGolden" />
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

  </xacro:macro>

</robot>
