<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find schunk_description)/urdf/lwa4p_extended/lwa4p_extended_without_base.urdf.xacro" />

  <xacro:macro name="schunk_lwa4p_extended" params="parent name *origin arm_1_ref arm_2_ref arm_3_ref arm_4_ref arm_5_ref arm_6_ref arm_7_ref">

    <!-- joint between base_link and lwa4p_extended_connector_link -->
    <joint name="${name}_base_joint" type="fixed">
      <insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_base_link"/>
    </joint>

    <!-- static part of PRL100 -->
    <link name="${name}_base_link">
      <xacro:default_inertial/>
<!--
      <xacro:cylinder_inertial radius="0.056" length="0.12" mass="2.0">
        <origin xyz="0 0 ${0.12/2}" rpy="0 0 0" />
      </xacro:cylinder_inertial>
-->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://schunk_description/meshes/lwa4p_extended/arm_base_link.stl" />
        </geometry>
      </visual>
      
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://schunk_description/meshes/lwa4p_extended/arm_base_link.stl" />
        </geometry>
      </collision>
    </link>


  <xacro:schunk_lwa4p_extended_without_base name="${name}" parent="${name}_base_link"
          arm_1_ref="${arm_1_ref}"
          arm_2_ref="${arm_2_ref}"
          arm_3_ref="${arm_3_ref}"
          arm_4_ref="${arm_4_ref}"
          arm_5_ref="${arm_5_ref}"
          arm_6_ref="${arm_6_ref}"
          arm_7_ref="${arm_7_ref}">
    <origin xyz="0 0 0.139" rpy="0 0 0" />
  </xacro:schunk_lwa4p_extended_without_base>

  </xacro:macro>

</robot>
