<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="schunk_lwa4p_extended_gazebo" params="name">

    <gazebo reference="${name}_base_link">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${name}_1_link">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${name}_2_link">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${name}_3_link">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${name}_4_link">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${name}_5_link">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${name}_6_link">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo reference="${name}_7_link">
      <material value="Schunk/LightGrey" />
      <selfCollide>true</selfCollide>
    </gazebo>
    
  </xacro:macro>

</robot>
