<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find schunk_description)/urdf/lwa4p/lwa4p_without_base.urdf.xacro" />

  <xacro:macro name="schunk_lwa4p" params="parent name *origin arm_1_ref arm_2_ref arm_3_ref arm_4_ref arm_5_ref arm_6_ref">

    <!-- joint between base_link and arm_base_link -->
    <joint name="${name}_base_joint" type="fixed">
      <insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_base_link"/>
    </joint>

    <link name="${name}_base_link">
      <xacro:default_inertial/>
<!--
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.29364"/>
        <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
      </inertial>
-->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://schunk_description/meshes/lwa4p/arm_base_link.stl" />
        </geometry>
        <material name="Schunk/LightGrey" />
      </visual>
      
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://schunk_description/meshes/lwa4p/arm_base_link.stl" />
        </geometry>
      </collision>
    </link>

  <xacro:schunk_lwa4p_without_base name="${name}" parent="${name}_base_link"
          arm_1_ref="${arm_1_ref}"
          arm_2_ref="${arm_2_ref}"
          arm_3_ref="${arm_3_ref}"
          arm_4_ref="${arm_4_ref}"
          arm_5_ref="${arm_5_ref}"
          arm_6_ref="${arm_6_ref}">
    <origin xyz="0 0 0.11" rpy="0 0 0" />
  </xacro:schunk_lwa4p_without_base>

  </xacro:macro>

</robot>

