<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="schunk_pg70_gazebo" params="name">

		<gazebo reference="${name}_palm_link">
			<material>Schunk/LightGrey</material>
			<turnGravityOff>false</turnGravityOff>
		</gazebo>
	
		<gazebo reference="${name}_finger_1_link">
			<material>Schunk/LightGrey</material>
			<turnGravityOff>false</turnGravityOff>
		</gazebo>
	
		<gazebo reference="${name}_finger_2_link">
			<material>Schunk/LightGrey</material>
			<turnGravityOff>false</turnGravityOff>
		</gazebo>

	</xacro:macro>

</robot>
